*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5), #0bb0d1),url(Images/background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo{
    width:200px;
    position: absolute;
    top:4%;
    left:3%;
}

.bannerText{
    text-align: center;
    color: #fff;
    padding-top: 220px;
}   

.bannerText h1{
    font-size: 100px;
    font-family: 'Kaushan Script', cursive;
}

.bannerText p{
    font-size: 20px;
    font-style: italic;
}

.bannerButton {
    margin: 5px auto 5px;
}

.bannerButton a{
    color: #fff;
    text-decoration: none;
    display:inline-block;
    margin: 40px 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    position:relative;
    z-index: 1;
    transition: color 0.5s; 
}

.bannerButton a span{
    width:5%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    background-color: transparent; 
    z-index: -1;
    transition: width 0.5s;
}

.bannerButton a:hover span{
    width: 100%;
    background-color: #fff;
}


.bannerButton a:hover {
    color: #0bb0d1;
}

#sideNavigation{
    width:250px;
    height: 100vh;
    position:fixed;
    right: -250px;
    top: 0;
    background-color: #0bb0d1;
    z-index: 2;
    transition: 0.5s;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

#menuButton{
    width:50px;
    height:50px;
    background-color:#0bb0d1;
    text-align: center;
    position: fixed;
    right:30px;
    top:20px;
    border-radius: 10px;
    z-index: 3;
    cursor:pointer;
}

#menuButton img{
    width: 20px;
    margin-top: 15px;
}


@media screen and (max-width: 770px){
    .bannerText h1{
        font-size: 60px;
    } 
    .bannerButton a{
        display: block;
        margin-top: 10px;
        margin-bottom: 20px;
        margin-left: 100px;
        margin-right: 100px;
    }
}

/* Features of the Program  */

#features {
    width: 100%;
    padding: 70px 0;
}

.titleText{
    text-align: center;
    padding-bottom: 70px ;
}

.titleText p{
    margin: auto;
    font-size: 20px;
    color:#0bb0d1;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display:inline-block;
}

.titleText p::after{
    content:'';
    width:50px;
    height: 35px;
    background: linear-gradient(#0bb0d1, #fff);
    position: absolute;
    top: -20px;
    left:0;
    transform:rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    z-index:-1;
}

.titleText h1{
    font-size: 50px;
}

.featureBox{
    width:80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left   ;
}

.features{
    flex-basis: 50%;
}

.featuresImage{
    flex-basis: 50%;
    margin: auto;
}

.featuresImage img{
    width: 85%;
    height: 10%;
    border-radius: 10px;
    margin-left: 100px;
}

.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color:#0bb0d1;
    margin-left: 50px;
}

.featuresDescription{
    display:flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 40px;
    margin-right: 10px;
    margin-left: 50px;
    font-size: 15px;
}

.featureIcon .fa-computer{
    width: 50px;
    font-size: 40px;
    height:50px;
    line-height: 50px;
    border-radius: 8px;
    color:#0bb0d1;
    align-items: center;
    justify-content: center;
    margin-right: 2px;  
}

.featureIcon .fa-cubes{
    width: 50px;
    font-size: 40px;
    height:50px;
    line-height: 50px;
    border-radius: 8px;
    color:#2832C2;
    align-items: center;
    justify-content: center;
    margin-right: 2px;  
}

.featureIcon .fa-business-time{
    width: 50px;
    font-size: 40px;
    height:50px;
    line-height: 50px;
    border-radius: 8px;
    color:#051094;
    align-items: center;
    justify-content: center;
    margin-right: 2px;  
}

.featureText p{
    padding: 0 20px;
    text-align: initial;
}

@media screen and (max-width: 770px){
    .titleText h1{
        font-size: 35px;
    }
    .features{
        flex-basis: 100%;
    }
    .featuresImage{
        flex-basis: 100%;
    } 
    .featuresImage img{
        width:100%;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
    }
}

/* Services of Website */
#service{
    width: 100%;
    padding: 70px 0;
    background-color: #efefef;
}

.serviceBox{
    width:80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.singleService{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: white;
    position:relative;
}

.singleService img{
    width: 100%;
    border-radius: 7px;
    height: 100%;
}

.overlay{
    height:100%;
    width: 100%;
    position:absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5), #0014f0);
    opacity: 0;
    transition: 1s;
}

.singleService:hover .overlay{
    opacity: 1;
}

.serviceDescription{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity:0;
    transform: translateX(-50%);
    transition: 1s;
}

hr{
    background: white;
    margin: 15px auto;
    height: 2px;
    border: 0;
    width: 70%;
}

.serviceDescription p{
    font-size: 14px;
}

.singleService:hover .serviceDescription{
    bottom: 25%;
    opacity: 1;
}

@media screen and (max-width: 770px){
    .singleService{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .singleService p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .singleService:hover .serviceDescription{
        bottom: 25% !important;
    }
}

/* Testimonials */
#testimonial{
    width: 100%;
    padding: 70px 0;
}

.testimonialRow{
    width:80%;
    margin: auto;
    display: flex;  
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonialColumn{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00968814;
    cursor:pointer;
    transform: transform 1s;
}
 
.testimonialColumn p {
    font-size: 15px;
}

.user{
    display:flex;
    align-items: center;
    margin: 20px 0;
}

.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-info .fa{
    color:#0bb0d1;
    font-size: 20px;
}

.user-info small{
    color:#0bb0d1;
}

.testimonialColumn:hover{
    transform: translateY(-8px);
}

@media screen and (max-width: 770px){
    .testimonialColumn{
        flex-basis: 100%;
    }
}

/*-- Footer */
#footer{
    padding: 100px 0 20px;
    background-color: #efefef;
    position: relative;
}

.footerRow{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerLeft, .footerRight{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footerRight{
    text-align: right;
}

.footerRow h1{
    margin: 10px 0;
}

.footerRow p{
    line-height: 30px;
}

.footerLeft .fa, .footerRight .fa{
    color:#0bb0d1;
    font-size: 20px;
    margin:10px;
}

.footerImage{
    max-width: 370px;
    opacity: 0.3;
    position:absolute;
    left:50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.socialMedia{
    text-align: center;
}

.socialMedia .fa{
    padding-top: 6px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 30px;
    border: 2px solid #0bb0d1;
    color: #0bb0d1;
    margin: 40px 5px 0;
    transition: 0.5s;
}

.socialMedia .fa-solid{
    padding-top: 6px;
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 30px;
    border: 2px solid #0bb0d1;
    margin: 40px 5px 0;
    color: #0bb0d1;
    transition: 0.5s;
}

.socialMedia .fa:hover{
    background-color: #0bb0d1;
    color:#fff;
    transform: translateY(-7px);
}

.socialMedia .fa-solid:hover{
    background-color: #0bb0d1;
    color:#fff;
    transform: translateY(-7px);
}

.socialMedia p{
    font-size: 12px;
    margin-top: 10px;
}

@media screen and (max-width: 770px){
    .footerLeft, .footerRight{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footerImage{
        top:50%;
    }
}